<h2>Repsheet Captcha Example</h2>

<p>
  This example demonstrates conditionally including a captcha when the
  requesting site is tagged with Repsheet's <code>Notify</code>
  option. If you see the captcha below that means that this request
  was flagged.
</p>

<p>
  This example won't work unless you get your own recaptcha keys. You can get them at <a href="https://www.google.com/recaptcha/admin/create">https://www.google.com/recaptcha/admin/create</a>
</p>

<div>
  <% if @repsheet %>
    <%= recaptcha_tag(:challenge) %>
  <% end %>
</div>
